@model zilver.ViewModels.FooterViewModel
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-menu">
                <p class="h2">اطلاعات</p>
                <ul>
                    <li><a href="/about">درباره ما</a></li>
                    <li><a href="/contact">تماس با ما</a></li>
                    <li><a href="/Mag/blog/1070/ثبت-پیشنهادات-و-شکایات">پیشنهادات و شکایات</a></li>
                    <li><a href="/Mag/blog/1031/قوانین-و-مقررات">قوانین و مقررات</a></li>
                    <li><a href="/Mag/Podcasts">پادکست ها</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-menu">
                <p class="h2">جدیدترین ویدئو‌ها</p>
                <ul>
                    <li><a href="/Mag/video/4463/you-won-t-believe-this-gold-bar-is-only-one-gram">باور نمی‌کنی این شمش طلا فقط یک گرمه!</a></li>
                    <li><a href="/Mag/video/4462/why-buy-gold-bars-in-the-gold-card-model">چرا شمش طلا مدل کارت طلایی بخریم؟</a></li>
                    <li><a href="/Mag/video/4461/what-is-the-secret-to-winning-in-the-gold-market">راز برنده شدن در بازار طلا چیست؟</a></li>
                    <li><a href="/Mag/video/4460/combining-art-and-goldsmithing-from-raw-gold-to-artistic-bullion">تلفیق هنر و زرگری در للیمند؛ از طلای خام تا شمش هنری</a></li>
                    <li><a href="/Mag/video/4459/500-models-of-low-cost-ingots">۵۰۰ مدل شمش طلا در للیمند؛ تنوعی که در هیچ جای ایران نمی‌بینید!</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-blog">
                <p class="h2">جدیدترین مطالب</p>
                <ul>
                    <li><a href="/blog/4493/%D8%A2%DB%8C%D8%A7-%D8%B3%DA%A9%D9%87-%DB%B1%DB%B2%DB%B0-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D8%AA%D9%88%D9%85%D8%A7%D9%86%DB%8C-%D8%AF%D8%B1-%D8%B1%D8%A7%D9%87-%D8%A7%D8%B3%D8%AA">آیا سکه ۱۲۰ میلیون تومانی در راه است؟</a></li>
                    <li><a href="/blog/4492/gold-and-coin-prices-soar-again">پرواز دوباره قیمت طلا و سکه / پیش‌بینی بازار فردا ۲۱ آبان ماه</a></li>
                    <li><a href="/blog/4491/the-beginning-of-a-new-wave-of-price-increases-in-the-gold-and-coin-market">آغاز موج تازه گرانی در بازار طلا و سکه | پیش‌بینی قیمت طلا و سکه فردا ۲۰ آبان</a></li>
                    <li><a href="/blog/4490/reasons-for-the-rise-in-gold-prices-in-the-global-market">دلایل صعودی ماندن قیمت طلا در بازار جهانی</a></li>
                    <li><a href="/blog/4489/new-drop-in-the-gold-market">افت جدید در بازار طلا | آیا دوران اصلاح قیمت آغاز شده است؟</a></li>
                    <li><a href="/blog/4488/%D8%B7%D9%84%D8%A7%DB%8C-%D8%A2%D8%A8%D8%B4%D8%AF%D9%87-%D8%A8%D8%AE%D8%B1%DB%8C%D9%85-%DB%8C%D8%A7-%D9%86%D9%87">خرید طلای آبشده؛ چرا کارشناسان هشدار می‌دهند؟ | للیمند</a></li>
                    <li><a href="/blog/4487/gold-prices-rise-on-Fed-rate-cut">قیمت طلا رو به صعود است | کاهش نرخ بهره فدرال رزرو محرک رشد بازار طلا</a></li>
                    <li><a href="/blog/4486/gold-price-falls-below-4000-dollar">سقوط قیمت طلا به زیر ۴۰۰۰ دلار؛ ادامه روند نزولی در کوتاه‌مدت</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-social">
                <p class="footer-logo">
                    <a href="/">
                        <img src="/images/pre.png"
                             data-src="@Model.logo"
                             alt="للیمند"
                             title="lelimond"
                             class="lazyload attachment-full size-full"
                             width="250"
                             height="236" />
                    </a>
                </p>
                <p class="social-text">ما را در شبکه‌های اجتماعی دنبال کنید :</p>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/Niyaco/"> <i class="shemsh shemsh-facebook "></i> </a></li>
                    <li><a href="https://telegram.me/niyaco"> <i class="shemsh shemsh-telegram"></i> </a></li>
                    <li><a href="https://www.instagram.com/khanesekeiran/"> <i class="shemsh shemsh-instagram "></i> </a></li>
                    <li><a href="https://www.aparat.com/khanesekeiran"> <i class="shemsh shemsh-aparat"></i> </a></li>
                    <li><a href="https://www.youtube.com/@@shemshetala_com"> <i class="shemsh shemsh-youtube"></i> </a></li>
                </ul>
                <ul class="verification-links">
                    <li>
                        <a href="#">
                            <img src="/images/pre.png"
                                 data-src="/images/Digital-Media-LOGO.jpg"
                                 alt="للیمند"
                                 title="للیمند"
                                 class="lazyload attachment-full size-full"
                                 width="161"
                                 height="185" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pre.png"
                                 data-src="/images/eNamad-logo.jpg"
                                 alt="للیمند"
                                 title="للیمند"
                                 class="lazyload attachment-full size-full"
                                 width="161"
                                 height="185" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pre.png"
                                 data-src="/images/kasb-o-Kar-LOGO.jpg"
                                 alt="للیمند"
                                 title="للیمند"
                                 class="lazyload attachment-full size-full"
                                 width="161"
                                 height="185" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-copyright">
                    تمامی حقوق مادی و معنوی متعلق به للیمند می‌باشد
                </div>
                <div class="col-md-6 footer-company">
                    طراحی، اجرا و توسعه توسط
                    <a href="https://www.tikamark.com">
                        تیکامارک
                        <img src="/images/pre.png"
                             data-src="/images/TIKAMARK-LOGO.png"
                             alt="tikamark"
                             title="تیکامارک"
                             class="lazyload attachment-full size-full"
                             width="32"
                             height="29" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</footer>


<div class="loading">
    <a href="/">
        <img src="/images/pre.png"
             data-src="@Model.logo"
             alt="للیمند"
             title="lelimond"
             class="lazyload attachment-full size-full"
             width="250"
             height="236" />
    </a>

    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>