@using zilver.ViewModels
@model RegisterViewModel

<h2>Register</h2>

<form asp-action="Register">
    <input asp-for="Email" placeholder="Email" class="form-control" />
    <input asp-for="Password" placeholder="Password" type="password" class="form-control" />
    <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />

    <button type="submit" class="btn btn-success">Register</button>
</form>
