
<section id="slider">
    <div class="slider-site owl-carousel owl-rtl owl-drag">
        <a href="#">
            <img src="/images/pre.png"
                 data-sizes="auto"
                 data-src="/images/slider.jpg"
                 data-srcset="/images/slider.jpg 200w, /images/slider.jpg 400, /images/slider.jpg 798w, /images/slider.jpg 1594w"
                 alt="للیمند"
                 title="lelimond"
                 class="lazyload" />
        </a>
        <a href="#">
            <img src="/images/pre.png"
                 data-sizes="auto"
                 data-src="/images/slider.jpg"
                 data-srcset="/images/slider.jpg 200w, /images/slider.jpg 400, /images/slider.jpg 798w, /images/slider.jpg 1594w"
                 alt="للیمند"
                 title="lelimond"
                 class="lazyload" />
        </a>
        <a href="#">
            <img src="/images/pre.png"
                 data-sizes="auto"
                 data-src="/images/slider.jpg"
                 data-srcset="/images/slider.jpg 200w, /images/slider.jpg 400, /images/slider.jpg 798w, /images/slider.jpg 1594w"
                 alt="للیمند"
                 title="lelimond"
                 class="lazyload" />
        </a>
        <a href="#">
            <img src="/images/pre.png"
                 data-sizes="auto"
                 data-src="/images/slider.jpg"
                 data-srcset="/images/slider.jpg 200w, /images/slider.jpg 400, /images/slider.jpg 798w, /images/slider.jpg 1594w"
                 alt="للیمند"
                 title="lelimond"
                 class="lazyload" />
        </a>
    </div>
</section>

@section Header{
    <link href="~/lib/css/indexv2.min.css" rel="stylesheet" preload />
}
@section Scripts {
    <script src="~/lib/js/indexv2.min.js" defer></script>
}